<%= simple_form_for(@training, html: {role: "form", class: "form-horizontal"}) do |f| %>
  <% if @training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@training.errors.count, "error") %> prohibited this training from being saved:</h2>

      <ul>
      <% @training.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %> 
  <%= f.input :tyvek_size %>
  <%= f.input :has_cdl, label: "Has CDL?" %>
  <%= f.input :cdl, label: "CDL Expiration Date" %>
  <%= f.input :has_forklift, label: "Has Forklift?" %>
  <%= f.input :forklift, label: "Forklift Certification Date" %>
  <%= f.input :has_passport, label: "Has Passport?" %>
  <%= f.input :passport, label: "Passport Certification Date" %>
  <%= f.input :has_twic, label: "Has TWIC?" %>
  <%= f.input :twic, label: "TWIC Date" %>
  <%= f.input :has_chevron_bpso_opo, label: "Has Chevron BPSO OPO?" %>
  <%= f.input :chevron_bpso_opo, label: "Chevron BPSO OPO Date" %>
  <%= f.input :has_exxon, label: "Has Exxon?" %>
  <%= f.input :exxon, label: "Exxon Certification Date" %>
  <%= f.input :has_msha, label: "Has MSHA?" %>
  <%= f.input :msha, label: "MSHA Date" %>
  <%= f.input :has_chevron_powerline, label: "Has Chevron Powerline?" %>
  <%= f.input :chevron_powerline, label: "Chevron Powerline Certification Date" %>
  <%= f.input :has_oxy_psm_haz, label: "Has Oxy PSM Haz?" %>
  <%= f.input :oxy_psm_haz, label: "Oxy PSM Haz Certification Date" %>
  <%= f.input :has_pdc_pass, label: "Has PDC Pass?"%>
  <%= f.input :pdc_pass, label: "PDC Pass Date" %>
  <%= f.input :has_nccco_crane_operator, label: "Has NCCCO Crane Operator?" %>
  <%= f.input :nccco_crane_operator, label: "NCCCO Crane Operator Certification Date" %>
  <%= f.input :has_medical_exam_certificate, label: "Has Medical Exam Certification?" %>
  <%= f.input :medical_exam_certificate, label: "Medical Exam Certification Date" %>
  <%= f.input :has_api_rp2d_rigger_training, label: "Has API RP2D Rigger Training?" %>
  <%= f.input :api_rp2d_rigger_training, label: "API RP2D Rigger Training Date" %>
  <%= f.input :has_oecp, label: "Has OECP?" %>
  <%= f.input :oecp, label: "OECP Date" %>
  <%= f.button :submit, :class => 'btn-default' %>
  
<% end %>
