<h1>Listing trainings</h1>

<div class="table-responsive">
  <table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tyvek Size</th>
      <th>CDL</th>
      <th>Forklift</th>
      <th>Passport</th>
      <th>TWIC</th>
      <th>Chevron BPSO OPO</th>
      <th>Exxon</th>
      <th>MSHA</th>
      <th>Chevron Powerline</th>
      <th>Oxy PSM Haz</th>
      <th>PDC Pass</th>
      <th>NCCCO Crane Operator</th>
      <th>Medical Exam Certificate</th>
      <th>API RP2D Rigger Training</th>
      <th>OECP</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trainings.each do |training| %>
      <% @row_class = 'none' %>
      <% %w{cdl forklift passport twic chevron_bpso_opo exxon msha chevron_powerline oxy_psm_haz pdc_pass nccco_crane_operator medical_exam_certificate api_rp2d_rigger_training oecp}.each do |field_name| %>
          
          <% if training[field_name] < 30.days.from_now %>
            <% if training[field_name] < 15.days.from_now %>
              <% @row_class = 'danger' %>
              <% break %>
            <% else %>
              <% @row_class = 'warning' %>
              <% break %>
            <% end %>
          <% else %>
            <% if @row_class == 'none' %>
              <% @row_class = 'success' %>
            <% end %>
          <% end %>

      <% end %>
      <tr class='<%= @row_class %>' data-link="<%= training_path(training) %>">
        <td><%= training.name %></td>
        <td><%= training.tyvek_size %></td>
        <td><%= training.cdl %></td>
        <td><%= training.forklift %></td>
        <td><%= training.passport %></td>
        <td><%= training.twic %></td>
        <td><%= training.chevron_bpso_opo %></td>
        <td><%= training.exxon %></td>
        <td><%= training.msha %></td>
        <td><%= training.chevron_powerline %></td>
        <td><%= training.oxy_psm_haz %></td>
        <td><%= training.pdc_pass %></td>
        <td><%= training.nccco_crane_operator %></td>
        <td><%= training.medical_exam_certificate %></td>
        <td><%= training.api_rp2d_rigger_training %></td>
        <td><%= training.oecp %></td>
        <td><%= link_to 'Show', training, :class => 'btn btn-default table_buttons' %></td>
        <td><%= link_to 'Edit', edit_training_path(training), :class => 'btn btn-default table_buttons' %></td>
        <td><%= link_to 'Destroy', training, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default table_buttons' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Training', new_training_path, :class => "btn btn-default" %>
