<h1 class="index_title">All Employees</h1>

<div class="table-responsive well">
  <table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Picture</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @trainings.each do |training| %>
      <tr class='main_row <%= @row_class %>' data-link="<%= training_path(training) %>">
        <td><%= cl_image_tag("preset_folder/podlnns8cqw88187vaxh.jpg", :width => 150, :height => 200, :crop => :fill, :class => 'employee-picture center-block') %></td>
        <td><p class="center-block"><%= training.name %></p></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_training_path, :class => "btn btn-default button-font center-block" %>
