<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @training.name %>
</p>

<p>
  <strong>Tyvek size:</strong>
  <%= @training.tyvek_size %>
</p>

<p>
  <strong>Cdl:</strong>
  <%= @training.cdl %>
</p>

<p>
  <strong>Forklift:</strong>
  <%= @training.forklift %>
</p>

<p>
  <strong>Passport:</strong>
  <%= @training.passport %>
</p>

<p>
  <strong>Twic:</strong>
  <%= @training.twic %>
</p>

<p>
  <strong>Chevron bpso opo:</strong>
  <%= @training.chevron_bpso_opo %>
</p>

<p>
  <strong>Exxon:</strong>
  <%= @training.exxon %>
</p>

<p>
  <strong>Msha:</strong>
  <%= @training.msha %>
</p>

<p>
  <strong>Chevron powerline:</strong>
  <%= @training.chevron_powerline %>
</p>

<p>
  <strong>Oxy psm haz:</strong>
  <%= @training.oxy_psm_haz %>
</p>

<p>
  <strong>Pdc pass:</strong>
  <%= @training.pdc_pass %>
</p>

<p>
  <strong>Nccco crane operator:</strong>
  <%= @training.nccco_crane_operator %>
</p>

<p>
  <strong>Medical exam certificate:</strong>
  <%= @training.medical_exam_certificate %>
</p>

<p>
  <strong>Api rp2d rigger training:</strong>
  <%= @training.api_rp2d_rigger_training %>
</p>

<p>
  <strong>Oecp:</strong>
  <%= @training.oecp %>
</p>

<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
