<p id="notice"><%= notice %></p>

<div class="table-responsive">
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Tyvek Size</th>
        <th>CDL</th>
        <th>Forklift</th>
        <th>Passport</th>
        <th>TWIC</th>
        <th>Chevron BPSO OPO</th>
        <th>Exxon</th>
        <th>MSHA</th>
        <th>Chevron Powerline</th>
        <th>Oxy PSM Haz</th>
        <th>PDC Pass</th>
        <th>NCCCO Crane Operator</th>
        <th>Medical Exam Certificate</th>
        <th>API RP2D Rigger Training</th>
        <th>OECP</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @training.name %></td>
        <td><%= @training.tyvek_size %></td>
        <td <% if @training.cdl < 30.days.from_now %>
              <% if @training.cdl < 15.days.from_now %>
                class="danger"
              <% else %>
                class="warning"
              <% end %>
            <% else %>
              class="success"
            <% end %>
        ><%= @training.cdl %></td>

        <td <% if @training.forklift < 30.days.from_now %>
              <% if @training.forklift < 15.days.from_now %>
                class="danger"
              <% else %>
                class="warning"
              <% end %>
            <% else %>
              class="success"
            <% end %>
        ><%= @training.forklift %></td>

        <td <% if @training.passport < 30.days.from_now %>
              <% if @training.passport < 15.days.from_now %>
                class="danger"
              <% else %>
                class="warning"
              <% end %>
            <% else %>
              class="success"
            <% end %>
        ><%= @training.passport %></td>

        <td <% if @training.twic < 30.days.from_now %>
              <% if @training.twic < 15.days.from_now %>
                class='danger'
              <% else %>
                class='warning'
              <% end %>
            <% else %>
              class="success"
            <% end %>
        ><%= @training.twic %></td>
        
        <td <% if @training.chevron_bpso_opo < 30.days.from_now %>
              <% if @training.chevron_bpso_opo < 15.days.from_now %>
                class='danger'
              <% else %>
                class='warning'
              <% end %>
            <% else %>
              class="success"
            <% end %>
        ><%= @training.chevron_bpso_opo %></td>

        <td <% if @training.exxon < 30.days.from_now %>
              <% if @training.exxon < 15.days.from_now %>
                class='danger'
              <% else %>
                class='warning'
              <% end %>
            <% else %>
              class="success"
            <% end %>
        ><%= @training.exxon %></td>

        <td <% if @training.msha < 30.days.from_now %>
              <% if @training.msha < 15.days.from_now %>
                class='danger'
              <% else %>
                class='warning'
              <% end %>
            <% else %>
              class="success"
            <% end %>
        ><%= @training.msha %></td>

        <td <% if @training.chevron_powerline < 30.days.from_now %>
              <% if @training.chevron_powerline < 15.days.from_now %>
                class='danger'
              <% else %>
                class='warning'
              <% end %>
            <% else %>
              class="success"
            <% end %>
        ><%= @training.chevron_powerline %></td>

        <td <% if @training.oxy_psm_haz < 30.days.from_now %>
              <% if @training.oxy_psm_haz < 15.days.from_now %>
                class='danger'
              <% else %>
                class='warning'
              <% end %>
            <% else %>
              class="success"
            <% end %>
        ><%= @training.oxy_psm_haz %></td>

        <td <% if @training.pdc_pass < 30.days.from_now %>
              <% if @training.pdc_pass < 15.days.from_now %>
                class='danger'
              <% else %>
                class='warning'
              <% end %>
            <% else %>
              class="success"
            <% end %>
        ><%= @training.pdc_pass %></td>

        <td <% if @training.nccco_crane_operator < 30.days.from_now %>
              <% if @training.nccco_crane_operator < 15.days.from_now %>
                class='danger'
              <% else %>
                class='warning'
              <% end %>
            <% else %>
              class="success"
            <% end %>
        ><%= @training.nccco_crane_operator %></td>

        <td <% if @training.medical_exam_certificate < 30.days.from_now %>
              <% if @training.medical_exam_certificate < 15.days.from_now %>
                class='danger'
              <% else %>
                class='warning'
              <% end %>
            <% else %>
              class="success"
            <% end %>
        ><%= @training.medical_exam_certificate %></td>

        <td <% if @training.api_rp2d_rigger_training < 30.days.from_now %>
              <% if @training.api_rp2d_rigger_training < 15.days.from_now %>
                class='danger'
              <% else %>
                class='warning'
              <% end %>
            <% else %>
              class="success"
            <% end %>
        ><%= @training.api_rp2d_rigger_training %></td>

        <td <% if @training.oecp < 30.days.from_now %>
              <% if @training.oecp < 15.days.from_now %>
                class='danger'
              <% else %>
                class='warning'
              <% end %>
            <% else %>
              class="success"
            <% end %>
        ><%= @training.oecp %></td>
      </tr>
    </tbody>
  </table>
</div>
<%= link_to 'Edit', edit_training_path(@training), :class => "btn btn-default" %> |
<%= link_to 'Back', trainings_path, :class => "btn btn-default" %>
