<p id="notice"><%= notice %></p>

<div class="well">
  <div class="overlay">
    <%= cl_image_tag('preset_folder/podlnns8cqw88187vaxh.jpg', :class => 'cdl-image cdl-row overlay-image hidden') %> <!-- CDL -->
    <%= cl_image_tag('preset_folder/podlnns8cqw88187vaxh.jpg', :class => 'forklift-image hidden') %> <!-- Forklift -->
    <%= cl_image_tag('preset_folder/podlnns8cqw88187vaxh.jpg', :class => 'passport-image hidden') %> <!-- Passport -->
    <%= cl_image_tag('preset_folder/podlnns8cqw88187vaxh.jpg', :class => 'twic-image hidden') %> <!-- TWIC -->
    <%= cl_image_tag('preset_folder/podlnns8cqw88187vaxh.jpg', :class => 'chevron-bpso-opo-image hidden') %> <!-- Chevron BPSO OPO -->
    <%= cl_image_tag('preset_folder/podlnns8cqw88187vaxh.jpg', :class => 'exxon-image hidden') %> <!-- Exxon -->
    <%= cl_image_tag('preset_folder/podlnns8cqw88187vaxh.jpg', :class => 'msha-image hidden') %> <!-- MSHA -->
    <%= cl_image_tag('preset_folder/podlnns8cqw88187vaxh.jpg', :class => 'chevron-powerline-image hidden') %> <!-- Chevron Powerline -->
    <%= cl_image_tag('preset_folder/podlnns8cqw88187vaxh.jpg', :class => 'oxy-psm-haz-image hidden') %> <!-- OXY PSM Haz -->
    <%= cl_image_tag('preset_folder/podlnns8cqw88187vaxh.jpg', :class => 'pdc-pass-image hidden') %> <!-- PDC Pass -->
    <%= cl_image_tag('preset_folder/podlnns8cqw88187vaxh.jpg', :class => 'nccco-crane-operator-image hidden') %> <!-- NCCCO Crane Operator -->
    <%= cl_image_tag('preset_folder/podlnns8cqw88187vaxh.jpg', :class => 'medical-exam-certificate-image hidden') %> <!-- Medical Exam Certificate -->
    <%= cl_image_tag('preset_folder/podlnns8cqw88187vaxh.jpg', :class => 'api-rp2d-rigger-training-image hidden') %> <!-- API RP2D Rigger Training -->
    <%= cl_image_tag('preset_folder/podlnns8cqw88187vaxh.jpg', :class => 'oecp-image hidden') %> <!-- OECP -->
  </div>
  <table class="table table-hover table-responsive show_p">
    <h2 class="center-block employee-name-label"><%= @training.name %></h2>
    <% if @training.cdl != nil %>
      <tr class="<%= @training.cdl_class %> cdl-row"><td>CDL</td><td><%= @training.cdl %></td></tr>
    <% end %>
    <% if @training.forklift != nil %>
      <tr class="<%= @training.forklift_class %>"><td>Forklift</td><td><%= @training.forklift %></td></tr>
    <% end %>
    <% if @training.passport != nil %>
      <tr class="<%= @training.passport_class %>"><td>Passport</td><td><%= @training.passport %></td></tr>
    <% end %>
    <% if @training.twic != nil %>
      <tr class="<%= @training.twic_class %>"><td>TWIC</td><td><%= @training.twic %></td></tr>
    <% end %>
    <% if @training.chevron_bpso_opo != nil %>
      <tr class="<%= @training.chevron_bpso_opo_class %>"><td>Chevron BPSO OPO</td><td><%= @training.chevron_bpso_opo %></td></tr>
    <% end %>
    <% if @training.exxon != nil %>
      <tr class="<%= @training.exxon_class %>"><td>Exxon</td><td><%= @training.exxon %></td></tr>
    <% end %>
    <% if @training.msha != nil %>
      <tr class="<%= @training.msha_class %>"><td>MSHA</td><td><%= @training.msha %></td></tr>
    <% end %>
    <% if @training.chevron_powerline != nil %>
      <tr class="<%= @training.chevron_powerline_class %>"><td>Chevron Powerline</td><td><%= @training.chevron_powerline %></td></tr>
    <% end %>
    <% if @training.oxy_psm_haz != nil %>
      <tr class="<%= @training.oxy_psm_haz_class %>"><td>Oxy PSM Haz</td><td><%= @training.oxy_psm_haz %></td></tr>
    <% end %>
    <% if @training.pdc_pass != nil %>
     <tr class="<%= @training.pdc_pass_class %>"><td>PDC Pass</td><td><%= @training.pdc_pass %></td></tr>
    <% end %>
    <% if @training.nccco_crane_operator != nil %>
      <tr class="<%= @training.nccco_crane_operator_class %>"><td>NCCCO Crane Operator</td><td><%= @training.nccco_crane_operator %></td></tr>
    <% end %>
    <% if @training.medical_exam_certificate != nil %>
      <tr class="<%= @training.medical_exam_certificate_class %>"><td>Medical Exam Certificate</td><td><%= @training.medical_exam_certificate %></td></tr>
    <% end %>
    <% if @training.api_rp2d_rigger_training != nil %>
      <tr class="<%= @training.api_rp2d_rigger_training_class %>"><td>API RP2D Rigger Training</td><td><%= @training.api_rp2d_rigger_training  %></td></tr>
    <% end %>
    <% if @training.oecp != nil %>
      <tr class="<%= @training.oecp_class %>"><td>OECP</td><td><%= @training.oecp %></td></tr>
    <% end %>
  </table>

  <%= link_to 'Edit', edit_training_path(@training), :class => "btn btn-default button-font edit-button" %>
  <%= link_to 'Back', trainings_path, :class => "btn btn-default button-font back-button" %>
</div>