<p id="notice"><%= notice %></p>

<div class="well">
  <div class="overlay">
    <%= cl_image_tag('paz_cdl003_350_mb7rez.jpg', :class => 'cdl-image cdl-row overlay-image hidden') %> <!-- CDL -->
    <%= cl_image_tag('no-image-available_taerst.jpg', :class => 'forklift-image forklift-row overlay-image hidden') %> <!-- Forklift -->
    <%= cl_image_tag('m7naxjetgl86wlo1fso2.jpg', :angle => 270, :class => 'passport-image passport-row overlay-image hidden') %> <!-- Passport -->
    <%= cl_image_tag('q9bzyq5596v5c8gpoxie.jpg', :angle => 90, :class => 'twic-image twic-row overlay-image hidden') %> <!-- TWIC -->
    <%= cl_image_tag('no-image-available_taerst.jpg', :class => 'chevron-bpso-opo-image chevron-bpso-opo-row overlay-image hidden') %> <!-- Chevron BPSO OPO -->
    <%= cl_image_tag('wiuizgboritpui9mvgs3.jpg', :angle => 180, :class => 'exxon-image exxon-row overlay-image hidden') %> <!-- Exxon -->
    <%= cl_image_tag('no-image-available_taerst.jpg', :class => 'msha-image msha-row overlay-image hidden') %> <!-- MSHA -->
    <%= cl_image_tag('no-image-available_taerst.jpg', :class => 'chevron-powerline-image chevron-powerline-row overlay-image hidden') %> <!-- Chevron Powerline -->
    <%= cl_image_tag('no-image-available_taerst.jpg', :class => 'oxy-psm-haz-image oxy-psm-haz-row overlay-image hidden') %> <!-- OXY PSM Haz -->
    <%= cl_image_tag('no-image-available_taerst.jpg', :class => 'pdc-pass-image pdc-pass-row overlay-image hidden') %> <!-- PDC Pass -->
    <%= cl_image_tag('psmrwvgcvy5a1y9khspq.jpg', :angle => 90, :class => 'nccco-crane-operator-image nccco-crane-operator-row overlay-image hidden') %> <!-- NCCCO Crane Operator -->
    <%= cl_image_tag('no-image-available_taerst.jpg', :class => 'medical-exam-certificate-image medical-exam-certificate-row overlay-image hidden') %> <!-- Medical Exam Certificate -->
    <%= cl_image_tag('no-image-available_taerst.jpg', :class => 'api-rp2d-rigger-training-image api-rp2d-rigger-training-row overlay-image hidden') %> <!-- API RP2D Rigger Training -->
    <%= cl_image_tag('no-image-available_taerst.jpg', :class => 'oecp-image oecp-row overlay-image hidden') %> <!-- OECP -->
  </div>
  <table class="table table-hover table-responsive show_p">
    <h2 class="center-block employee-name-label"><%= @training.name %></h2>
    <% if @training.cdl != nil %>
      <tr class="<%= @training.cdl_class %> cdl-row"><td>CDL</td><td><%= @training.cdl %></td></tr>
    <% end %>
    <% if @training.forklift != nil %>
      <tr class="<%= @training.forklift_class %> forklift-row"><td>Forklift</td><td><%= @training.forklift %></td></tr>
    <% end %>
    <% if @training.passport != nil %>
      <tr class="<%= @training.passport_class %> passport-row"><td>Passport</td><td><%= @training.passport %></td></tr>
    <% end %>
    <% if @training.twic != nil %>
      <tr class="<%= @training.twic_class %> twic-row"><td>TWIC</td><td><%= @training.twic %></td></tr>
    <% end %>
    <% if @training.chevron_bpso_opo != nil %>
      <tr class="<%= @training.chevron_bpso_opo_class %> chevron-bpso-opo-row"><td>Chevron BPSO OPO</td><td><%= @training.chevron_bpso_opo %></td></tr>
    <% end %>
    <% if @training.exxon != nil %>
      <tr class="<%= @training.exxon_class %> exxon-row"><td>Exxon</td><td><%= @training.exxon %></td></tr>
    <% end %>
    <% if @training.msha != nil %>
      <tr class="<%= @training.msha_class %> msha-row"><td>MSHA</td><td><%= @training.msha %></td></tr>
    <% end %>
    <% if @training.chevron_powerline != nil %>
      <tr class="<%= @training.chevron_powerline_class %> chevron-powerline-row"><td>Chevron Powerline</td><td><%= @training.chevron_powerline %></td></tr>
    <% end %>
    <% if @training.oxy_psm_haz != nil %>
      <tr class="<%= @training.oxy_psm_haz_class %> oxy-psm-haz-row"><td>Oxy PSM Haz</td><td><%= @training.oxy_psm_haz %></td></tr>
    <% end %>
    <% if @training.pdc_pass != nil %>
     <tr class="<%= @training.pdc_pass_class %> pdc-pass-row"><td>PDC Pass</td><td><%= @training.pdc_pass %></td></tr>
    <% end %>
    <% if @training.nccco_crane_operator != nil %>
      <tr class="<%= @training.nccco_crane_operator_class %> nccco-crane-operator-row"><td>NCCCO Crane Operator</td><td><%= @training.nccco_crane_operator %></td></tr>
    <% end %>
    <% if @training.medical_exam_certificate != nil %>
      <tr class="<%= @training.medical_exam_certificate_class %> medical-exam-certificate-row"><td>Medical Exam Certificate</td><td><%= @training.medical_exam_certificate %></td></tr>
    <% end %>
    <% if @training.api_rp2d_rigger_training != nil %>
      <tr class="<%= @training.api_rp2d_rigger_training_class %> api-rp2d-rigger-training-row"><td>API RP2D Rigger Training</td><td><%= @training.api_rp2d_rigger_training  %></td></tr>
    <% end %>
    <% if @training.oecp != nil %>
      <tr class="<%= @training.oecp_class %> oecp-row"><td>OECP</td><td><%= @training.oecp %></td></tr>
    <% end %>
  </table>

  <%= link_to 'Edit', edit_training_path(@training), :class => "btn btn-default button-font edit-button" %>
  <%= link_to 'Back', trainings_path, :class => "btn btn-default button-font back-button" %>
</div>